h1{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

h2{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}

.container{
 background-color:gray;
}
